<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/data/add" method="post">
    <label for="text-data">Text data:</label>
    <input type="text" name="text" id="text">
    <button type="submit">Submit</button>
    </form>
  </body>
</html>
